@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* General */
.buttonMainAnimation {
  @apply transition duration-500 hover:-translate-y-2;
}

/* Service Page Specific (Homapage & Confirmation) wrappers */

.outsideWrapper {
  @apply h-screen bg-primary transition-all dark:bg-secondary;
}

.insideWrapper {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 font-lora text-secondary;
}

/* Confirmation Page */
.confirmationCompoButton {
  @apply buttonMainAnimation w-full cursor-pointer rounded-md border border-b-4  bg-secondary p-4 px-3 text-base font-bold text-white;
}

.confirmationCompoButtonGrid {
  @apply mt-3 grid grid-cols-1 gap-2 border-t p-3 text-center md:grid-cols-2;
}

.svgDivStyle {
  @apply bg-secondary p-2 px-4 uppercase text-white;
}

/* HomePage */
.formInputField {
  @apply mt-0 block w-full border-0 border-b-2 border-gray-200 bg-transparent px-0.5 placeholder:bg-transparent focus:border-black focus:ring-0 dark:text-white dark:placeholder-white dark:placeholder-opacity-70;
}

.formSelectField {
  @apply relative mt-0 w-full border-0 border-b-2 border-gray-200 bg-transparent px-0.5 focus:border-black focus:bg-primary focus:ring-0;
}

.formButtonBasic {
  @apply rounded-md bg-secondary p-2 text-white dark:bg-primary dark:text-secondary;
}

.formButtonBasicDark {
  @apply rounded-md bg-primary p-2 text-secondary;
}

.formTitle {
  @apply text-center text-2xl font-bold dark:text-white;
}

.formTitleDark {
  @apply text-center text-2xl font-bold text-white;
}

.formGrid {
  @apply grid grid-cols-1 gap-6;
}

.formNameGrid {
  @apply grid grid-cols-2 gap-x-8;
}

.formFieldText {
  @apply text-gray-700 dark:text-white dark:placeholder-white dark:placeholder-opacity-100;
}

.formFieldTextDark {
  @apply text-white;
}
/* Administrator Login Page */

.administratorLoginPageWrapper {
  @apply relative font-lora text-3xl;
}
